@media (max-width: 1023px) {
  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .logo img {
    width: 150px;
  }

  .menu ul {
    gap: 35px;
  }

  .menu ul li {
    font-size: 18px;
  }

  .menu ul li:last-child svg {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .containerBanner {
    flex-direction: column;
    align-items: center;
    text-align: start;
  }

  .image {
    order: -1;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 15px;
  }
}




