* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8ff;
  font-family: sans-serif;
}

header {
  padding: 10px 20px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.flexNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  width: 120px;
}

.menu ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu ul a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu ul li {
  list-style: none;
  font-size: 16px;
}

.menu ul li:last-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f6f8ff;
}
.banner{
    margin-top: 118px;
}
.containerBanner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  max-width: 550px;
}

h1 {
  font-family: 'Noton Serif', serif;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.highlight {
  color: #e35500;
}

p {
  font-size: 16px;
  color: #6b7280;
  line-height: 1.6;
}

.image img {
  width: 400px;
  max-width: 100%;
  height: auto;
}

