/* All Global Css Start */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style-type: none;
  font-family: "Inter", sans-serif;
  color: #8987A1;
  padding-right: 48px;
}
ul, li:hover{
    color: black;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
/* All Global Css End */

.flexNavbar{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shopingcartFlex{
    display: flex;
    align-items: center;
}
/* .menu ul{
    display: flex;
    align-items: center;
} */

ul{
    display: flex;
    align-items: center;
}